<h1>Editing tranzaction</h1>

<%= render "form", tranzaction: @tranzaction %>

<br>

<div>
  <%= link_to "Show this tranzaction", category_tranzaction_path(params[:category_id], @tranzaction) %> |
  <%= link_to "Back to tranzactions", category_tranzactions_path(params[:category_id]) %>
</div>
