<h1>Editing tranzaction</h1>

<%= render "form", tranzaction: @tranzaction %>

<br>

<div>
  <%= link_to "Show this tranzaction", @tranzaction %> |
  <%= link_to "Back to tranzactions", tranzactions_path %>
</div>
