<p style="color: green"><%= notice %></p>

<h1>Tranzactions</h1>

<div id="tranzactions">
  <% @tranzactions.each do |tranzaction| %>
    <%= render tranzaction %>
    <p>
      <%= link_to "Show this tranzaction", tranzaction %>
    </p>
  <% end %>
</div>

<%= link_to "New tranzaction", new_tranzaction_path %>
