<p style="color: green"><%= notice %></p>

<%= render @tranzaction %>

<div>
<%=button_to 'Delete', {:controller => :tranzactions, :action => 'destroy', :id => @tranzaction.id}, :method => :delete%>
</div>
