<p style="color: green"><%= notice %></p>

<%= render @tranzaction %>

<div>
<%=button_to 'Delete', {:controller => :tranzactions, :action => 'destroy', :id => params[:id]}, :method => :delete%>
</div>
