<div class="splash-container">
  <div class="header-logo">
    <h1>Wemdigo</h1>
  </div>
  <%= button_to "Login", new_user_session_path, :method => :get, class:"splash-btns" %>
  <%= button_to "Sign up", new_user_registration_path, :method => :get, class:"splash-btns splash-signup" %>
</div>
