<p style="color: green"><%= notice %></p>

<% @categories.each do |category| %>
<div id="categories">
  <%= link_to category do %>
    <%= render category %>
    <% end %>
</div>
  <% end %>

<%= link_to new_category_path, class: "new-cat-btn" do%>
<p>New category</p>
<%end%>

<script>
function openBurger() {
  document.querySelector(".burger-fixed-container").classList.remove('closed')
}

function closeBurger() {
  document.querySelector(".burger-fixed-container").classList.add('closed')
}
document.querySelector(".navbar > ul > a").addEventListener('click', openBurger)
document.querySelector(".close-hamburger-btn").addEventListener('click', closeBurger)
</script>

<% console %>