    <navbar class="navbar">
    <ul>
    <a><%= image_tag("hamburger.png") %></a>
    <%= button_to "Categories", destroy_user_session_path, :method => :delete, class:"nav-link" %>
    <%= link_to destroy_user_session_path, :method => :delete do %>
      <%= image_tag("logout.png") %>
    <% end %>
    </ul>
    </navbar>